.body {
  background-color: var(--color-background-primary);
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --cellSize: 5.5vh;
  --cellSizeClamped: clamp(18px, var(--cellSize), 47px);
}

/* ********************************** */

.editorPageMenu {
  width: 98vw;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 2rem;
  transition: 0.3s ease-in-out;

  :hover {
    transform: scale(1.15);
  }
}

.darkModeBtn {
  aspect-ratio: 1/1;
  background-color: var(--darkmode-button);
  border-radius: 50%;
  cursor: pointer;
}

.editorPageTitle {
  text-align: center;
  font-size: 2rem;
  color: var(--color-text-primary);
  margin-bottom: 4vh;
}

.editWrapper {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.errorWin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #e31837;
  font-size: 1.05rem;
  font-weight: 600;
  padding: 10px 20px;
  width: 240px;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  top: 0;
  right: 21vw;
}
/* ****************************** */

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15vw;
  min-width: 280px;
  position: relative;
  color: var(--color-text-primary);
  margin: 1%;
  padding: 1%;
}

.editorPageInput {
  width: calc(100% - 20px);
  height: 22px;
  margin-bottom: 15px;
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input::placeholder {
  color: var(--color-text-primary);
}

.editorPageSelect {
  width: 100%;
  height: 40px;
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;

  :focus {
    outline: none;
  }
}

.leftSideTitle {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.editacePlochyTitle {
  display: flex;
  place-items: center;
}

.selectSymbolImg {
  display: flex;
  justify-content: space-between;

  img:nth-child(2n + 0) {
    width: 7.5rem;
  }
}

.numberAboveImg {
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.circleBtn {
  width: 1.3rem;
  padding: 6px;
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.leftSideBtns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* ******************************* */

.rightSide {
  position: relative;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(15, var(--cellSizeClamped));
  border: 1px solid var(--color-border-game);
  padding-right: 2px;
  border-radius: 10px;
}

.cell {
  width: var(--cellSizeClamped);
  aspect-ratio: 1/0.95;
  background-color: var(--color-background-game);
  border: 1px solid var(--color-border-game);
  display: flex;
  justify-content: center;
  align-items: center;

  :nth-child(1) {
    border-radius: 8px 0 0 0;
  }

  :nth-child(15) {
    border-radius: 0 8px 0 0;
  }

  :nth-last-child(15) {
    border-radius: 0 0 0 8px;
  }

  :nth-last-child(1) {
    border-radius: 0 0 8px 0;
  }

  :nth-child(15n) {
    width: var(--cellSizeClamped);
    border-right: 0;
  }
}

.symbol {
  width: 65%;
  max-width: 26px;
  background-color: rgba(0, 0, 0, 0);
}

.clearGame {
  position: absolute;
  color: var(--color-grey);
  font-size: 1.1rem;
  right: 8px;
  top: -27px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 15px;
    --cellSize: 6vw;
    --cellSizeClamped: clamp(18px, var(--cellSize), 40px);
  }

  .editorPageMenu {
    padding: 0 7px 0 0;
    margin: 10px auto;
    width: 97%;
  }

  .editWrapper {
    flex-direction: column;
    gap: 0;
  }

  .leftSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item1 item2"
      "item3 item3";
    margin: 0px auto 4vh;
    width: 600px;
    gap: 25px;
    padding: 0;
  }

  .editArea1 {
    grid-area: item1;
  }

  .editorPageInputs {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 15%;
  }

  .editorPageInput {
    margin: 0;
  }

  .editArea2 {
    grid-area: item2;
  }

  .selectSymbolImg img:nth-child(2n + 0) {
    width: 6rem;
  }

  .leftSideBtns {
    grid-area: item3;
  }

  .rightSide {
    width: min-content;
    margin: 0 auto;
  }

  .editorPageTitle {
    margin-bottom: 50px;
  }

  .leftSideTitle {
    margin-bottom: 25px;
  }

  .editacePlochyTitle {
    gap: 25px;
  }

  .editorPageSelect {
    margin-bottom: 20px;
  }

  .gameGrid {
    justify-content: center;
    border: 0;
    padding-right: 3px;
    margin-bottom: 3%;
  }

  .cell:nth-child(15n) {
    border-right: 1px solid var(--color-border-game);
  }

  .selectSymbolImg {
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .leftSideBtns {
    justify-content: center;
    gap: 3vw;
  }

  .clearGame {
    top: -23px;
    font-size: 1rem;
  }

  .errorWin {
    width: 220px;
  }
}

@media screen and (max-height: 800px) {
  .editWrapper {
    margin-block: 15px 10px;
  }

  .leftSide {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .editorPageTitle {
    margin-bottom: 40px;
  }

  .leftSide {
    display: flex;
    width: 50vw;
    margin-bottom: 50px;
  }

  .editorPageInputs {
    gap: 10px;
  }

  .leftSideBtns {
    gap: 30px;
  }

  .errorWin {
    right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .errorWin {
    right: 15px;
    width: none;
    padding: 10px;
  }
}
