.body {
  background-color: var(--secondBackground);
  margin: 0;
  padding: 0;
}

.editorPageMenu {
  width: 98vw;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 2rem;
}

.darkModeBtn {
  width: 1.25rem;
  aspect-ratio: 1/1;
  background-color: var(--darkModeBtn);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.editorPageTitle {
  text-align: center;
  font-size: 1.8rem;
  color: var(--textColor);
  margin-bottom: 3vh;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15vw;
  height: 80vh;
  position: relative;
  color: var(--textColor);
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}

.editorPageInput {
  width: calc(100% - 20px);
  height: 22px;
  margin-bottom: 15px;
  background-color: var(--firstBackground);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input::placeholder {
  color: var(--textColor);
}

.editorPageSelect {
  width: 100%;
  height: 40px;
  background-color: var(--firstBackground);
  color: var(--textColor);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.leftSideTitle {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.editacePlochyTitle {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.info {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: help;
  margin-bottom: 20px;
}

.selectSymbolImg {
  display: flex;
  justify-content: space-between;
}

.numberAboveImg {
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.leftSideBtns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
