.XBackground {
  position: absolute;
  z-index: 1;
  fill: black;
  transform: rotate(11deg);
}

.XBackground svg {
  fill: var(--color-symbol-background);
  stroke: var(--color-symbol-background);
}

@media screen and (max-width: 1050px) {
  .XBackground {
    display: none;
  }
}
