.XBackground {
  position: absolute;
  z-index: 100;
  fill: black;
  transform: rotate(11deg);
}

.XBackground svg {
  fill: var(--SymbolBackround);
  stroke: var(--SymbolBackround);
}

@media screen and (max-width: 1050px) {
  .XBackground {
    display: none;
  }
}
