@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: dosis;
}

body {
  background-color: var(--mainBackground);
  position: relative;
}

:root {
  --mainBackground: #f4f4f4;
  --firstBackground: white;
  --secondBackground: #f4f4f4;
  --thirdBackground: white;
  --textColor: black;
  --textColorInverted: white;
  --startBtnColor: #e81837;
  --halfBrightness: 1;
  --brightness: 1;
  --darkModeBtn: #c7c7c7;
  --cardShadow: 0px 6px 37.5px 0px #948d8d78;
  --player: #e21836b5;
  --gameBackground: #cacaca;
  --gameBorder: #ffffff;
  --winnerColor: #0070bb;
  --grey: #363636;
  --difficulty1Color: white;
  --difficulty2Color: white;
  --difficulty3Color: white;
  --difficulty4Color: white;
  --difficulty5Color: white;
  --difficulty1Color: #0070bb;
  --difficulty2Color: #39599a;
  --difficulty3Color: #724479;
  --difficulty4Color: #ab2e58;
  --difficulty5Color: #e31837;
}

.dark-mode {
  --mainBackground: #080808;
  --firstBackground: #1a1a1a;
  --secondBackground: #1a1a1a;
  --textColor: white;
  --textColorInverted: black;
  --halfBrightness: 1.5;
  --brightness: 1.6;
  --darkModeBtn: #e1e1e1;
  --cardShadow: none;
  --gameBackground: #1a1a1a;
  --gameBorder: #5b5b5b;
  --grey: #dcdcdc;
  --difficulty1Color: white;
  --difficulty2Color: white;
  --difficulty3Color: white;
  --difficulty4Color: white;
  --difficulty5Color: white;
}

.winnerRed {
  --winnerColor: #e31838;
}
