.container {
  width: clamp(970px, 60vw, 1100px);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  width: 65%;
  border-radius: 20px;
  background-color: white;
}

.userInfoHeader {
  height: 110px;
  position: relative;
  display: grid;
  grid-template-columns: 22%;
  grid-template-rows: 75%;
  grid-template-areas: "logo name setting" "logoBackground joinDate idk";
}

.userImgContainer {
  grid-area: logo logoBackground;
  background-color: var(--secondary1);
  border-radius: 20px 0 0 0;
  padding: 20px 0 0 20px;
  z-index: 10;
}

.userImg {
  width: 35px;
  padding: 22px;
  background-color: #91bedc;
  border: 4px solid white;
  border-radius: 15px;
}

.username {
  grid-area: name;
  background-color: var(--secondary1);
  color: white;
  align-content: end;
  padding-bottom: 7px;
  font-size: 2.4rem;
}

.joinDate {
  grid-area: joinDate;
  align-content: end;
  padding-left: 2px;
  color: var(--color-text-primary);
}

.setting {
  grid-area: setting;
  display: flex;
  justify-content: right;
  align-items: end;
  gap: 5px;
  padding: 0 20px 12px 0;
  font-weight: 500;
  color: white;
  background-color: var(--secondary1);
  border-radius: 0 20px 0 0;
}

.settingBtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.settingBtn:hover {
  transform: rotate(45deg);
}

.noteContainer {
  padding: 40px 21px 50px;
}

.noteTitle {
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

.note {
  width: 80%;
  height: 100px;
  padding: 0 10px;
  margin-top: 5px;
  border: none;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: 15px;
}

.statsContainer {
  width: 30%;
  background-color: white;
  border-radius: 20px;
}

.statsHeader {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--secondary5);
  height: 82.5px;
  border-radius: 20px 20px 0 0;
}

.statsTitle {
  color: white;
  font-size: 3rem;
  align-content: center;
}

.statsImg {
  width: 40px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

.stat {
  display: flex;
  gap: 7px;
  font-size: 20px;
  columns: var(--color-text-primary);
}

.statImg {
  width: 24px;
}

.redBold {
  font-weight: 600;
  color: var(--secondary5);
}

.gameHistory {
  min-height: 250px;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
}

.gameHistoryTitle {
  display: flex;
  gap: 10px;
}

.gameHistoryImg {
  width: 20px;
}

.gameHistoryTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
.gameHistoryTable tr {
  height: 32px;
  text-align: center;
}
.gameHistoryTable tr:nth-child(1) {
  background-color: var(--color-background-secondary);
}

@media screen and (max-width: 1100px) {
  .container {
    width: 700px;
  }
  .userInfoContainer {
    display: flex;
    flex-direction: column;
  }
  .userInfoContainer,
  .container {
    gap: 30px;
  }
  .userInfo {
    width: 100%;
  }
  .statsContainer {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: clamp(300px, 80vw, 800px);
  }
  .username,
  .joinDate {
    padding-left: 15px;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .username,
  .joinDate {
    padding-left: 25px;
  }
  .userImgContainer {
    padding: 25px 0 0 10px;
  }
  .userImg {
    width: 30px;
    padding: 18px;
  }
  .username {
    font-size: 2rem;
  }
  .settingBtn {
    width: 20px;
  }
}

/*# sourceMappingURL=ProfilePage.module.css.map */
