* {
  user-select: none;
}

body {
  background-color: var(--thirdBackground);
}

:root {
  --cellSize: 2.35vw;
  --cellSizeClamped: clamp(17px, var(--cellSize), 50px);
}

/* ****************************** */

.game {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.imgNextToGame {
  width: 20vw;
}

.title {
  color: var(--textColor);
  font-size: 1.65rem;
  text-align: center;
  margin-block: 35px;
}

.gameMenu {
  display: block;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(15, var(--cellSizeClamped));
  border: 1px solid var(--gameBorder);
  padding-right: 2px;
  border-radius: 10px;
}

.cell {
  width: var(--cellSizeClamped);
  aspect-ratio: 1/0.95;
  background-color: var(--gameBackground);
  border: 1px solid var(--gameBorder);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(1) {
  border-radius: 8px 0 0 0;
}
.cell:nth-child(15) {
  border-radius: 0 8px 0 0;
}
.cell:nth-last-child(15) {
  border-radius: 0 0 0 8px;
}
.cell:nth-last-child(1) {
  border-radius: 0 0 8px 0;
}

.symbol {
  width: 65%;
  max-width: 26px;
  background-color: rgba(0, 0, 0, 0);
}
.arrow {
  width: 32px;
}

.gameBtns {
  display: flex;
  gap: 20px;
}

.resetBtn {
  width: 32px;
  cursor: pointer;
}

.darkModeBtn {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: var(--darkModeBtn);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}

/* Card styles */

.winnerCardWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.winnerCardWrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerCard {
  width: 25vw;
  max-width: 620px;
  color: var(--textColor);
  background-color: var(--thirdBackground);
  border-radius: 10px;
  padding: 30px;
}

.winnerCardTextImg {
  display: flex;
  justify-content: space-between;
}

.winnerCardText {
  margin: auto 0;
}

.winnerCardTitle {
  padding-block: 15px;
  font-size: 2.25rem;
}

.winnerCardSubtitle {
  font-size: 1.3rem;
}

.winnerCardImg {
  width: 10vw;
  position: sticky;
  filter: brightness(var(--halfBrightness));
  animation: moveUpDown 4s infinite ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.winnerCardBtns {
  display: flex;
  gap: 3%;
}

.winnerCardBtn {
  padding: 8px 32px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.winnerCardBtn:nth-child(1) {
  color: white;
  letter-spacing: 0.5px;
  background-color: var(--winnerColor);
  filter: brightness(var(--halfBrightness));
}

.winnerCardBtn:nth-child(2) {
  color: var(--winnerColor);
  text-decoration: none;
  border: 2px solid var(--winnerColor);
  filter: brightness(var(--halfBrightness));
}

@media screen and (max-width: 1000px) {
}
