.button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 6px;
}

.image {
  width: 1rem;
}

.text {
  font-size: 0.9375rem;
  font-weight: 600;
}
