.body {
  display: flex;
  justify-content: center;
  background-color: var(--secondBackground);
}
.cardsPageWrapper {
  width: 60vw;
}

.cardsPageTitle {
  display: flex;
  gap: 5px;
  margin-block: 7vh 5vh;
  color: var(--textColor);
}

.cardsPageTitle h1 {
  font-size: 3.5rem;
}

.cardsPageTitle p {
  font-size: 1.75rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4.8px;
}

.filtration {
  background-color: var(--firstBackground);
  border-radius: 10px;
}

.filtrationMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 2px solid rgb(230, 230, 230);
  color: var(--textColor);
}

.filtrationMenuTitle {
  font-size: 1.5rem;
}

.filtrationMenuBtns {
  display: flex;
  cursor: pointer;
}

.filtrationMenuBtns img {
  width: 25px;
  padding: 4px 9px;
}

.lineBtns {
  width: 2px;
  margin-block: 3px;
  background-color: rgb(230, 230, 230);
}

.filtrationSections {
  display: flex;
}

.filtrationSection {
  padding: 15px 25px;
  width: 33%;
  height: 15vh;
  position: relative;
}

.filtrationSection label {
  color: var(--textColor);
}

.filtrationSection:not(:first-child):not(:last-child) {
  border-inline: 2px solid rgb(230, 230, 230);
}

.filtrationSectionTitle {
  font-size: 17px;
  font-weight: 600;
  margin-block: 3% 4%;
  color: var(--textColor);
}

.difficultyBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 7px;
}

.difficultyBtn {
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.difficultyColor1 {
  background-color: #0070bbb2;
}

.difficultyColor2 {
  background-color: #395a9ab2;
}

.difficultyColor3 {
  background-color: #724479b5;
}

.difficultyColor4 {
  background-color: #ab2e58b2;
}

.difficultyColor5 {
  background-color: #e31837b2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 48vw;
  min-width: 840px;
  margin: 0 auto;
}
