.body {
  display: flex;
  justify-content: center;
  min-height: 101vh;
}

.cardsPageWrapper {
  width: clamp(970px, 60vw, 1100px);
}

.cardsPageTitle {
  display: flex;
  gap: 5px;
  margin-block: 20vh 6vh;
  color: var(--color-text-primary);
  position: relative;
}
.cardsPageTitle h1 {
  font-size: 3.5rem;
}
.cardsPageTitle p {
  font-size: 1.75rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6.8px;
}

.filtration {
  background-color: var(--color-background-light);
  border-radius: 10px;
  position: relative;
  z-index: 200;
}

.filtrationMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 2px solid var(--color-border-filtration);
  color: var(--color-text-primary);
}

.filtrationMenuTitle {
  font-size: 1.5rem;
}

.filtrationChevronUp {
  color: var(--color-text-primary);
  transition: 0.3s;
  transform: rotate(0);
}

.filtrationChevronDown {
  transform: rotate(180deg);
  transition: 0.3s;
}

.filtrationMenuBtns {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.filtrationMenuBtns img {
  width: 25px;
  padding: 4px 9px;
}

.lineBtns {
  width: 2px;
  margin-block: 3px;
  background-color: var(--color-border-filtration);
}

.filtrationSection {
  padding: 25px;
  width: 33%;
  position: relative;
}
.filtrationSection label {
  color: var(--color-text-primary);
}
.filtrationSection:not(:first-child):not(:last-child) {
  border-inline: 2px solid var(--color-border-filtration);
}

.filtrationSections {
  display: flex; /* Set default to ensure space is reserved */
  flex-direction: row; /* Adjust as needed */
  max-height: 0; /* Start with no height */
  overflow: hidden; /* Hide content that doesn't fit */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.filterMenuOpened {
  max-height: 500px; /* Set a value large enough to fit all content */
  opacity: 1; /* Fully visible */
}

.filterMenuClosed {
  max-height: 0;
  opacity: 0; /* Fully hidden */
}

.filtrationSectionName {
  width: clamp(160px, 70%, 400px);
  height: 1.875rem;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input-background-filtration);
  color: var(--color-text-primary);
}

.filtrationSectionDate {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "first second" "third fourth";
  gap: 5px;
  font-size: 1.1rem;
}
.filtrationSectionDate input {
  transform: scale(1.1);
  margin-right: 5px;
  cursor: pointer;
}
.filtrationSectionDate label {
  cursor: pointer;
}

.filtrationMessage {
  color: var(--color-text-primary);
  margin: 0 auto;
}

.resetFiltrationSection {
  width: 1rem;
  position: absolute;
  right: 6px;
  top: 5px;
}

.filtrationSectionTitle {
  font-size: 17px;
  font-weight: 600;
  margin-block: 3% 4%;
  color: var(--color-text-primary);
}

.difficultyBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 7px;
}

.difficultyBtn {
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.difficultyBtn :hover {
  opacity: 1;
}

.difficultyColor1 {
  background-color: rgba(107, 196, 255, 0.3764705882);
  color: var(--secondary1);
}

.difficultyColor2 {
  background-color: rgba(91, 139, 228, 0.3764705882);
  color: var(--secondary2);
}

.difficultyColor3 {
  background-color: rgba(186, 108, 198, 0.3764705882);
  color: var(--secondary3);
}

.difficultyColor4 {
  background-color: rgba(219, 42, 101, 0.3137254902);
  color: var(--secondary4);
}

.difficultyColor5 {
  background-color: rgba(227, 24, 55, 0.3137254902);
  color: var(--secondary5);
}

.cards {
  margin-block: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

/* .cards::after {
  content: "";
  flex: auto;
} */
.loadingSpinnerDark {
  width: 70px;
  margin: 20px auto;
}

.loadingSpinnerLight {
  filter: invert(1);
  width: 70px;
  margin: 20px auto;
}

.addGameBtn {
  position: fixed;
  align-items: center;
  width: 28px;
  aspect-ratio: 1/1;
  padding: 8px;
  background-color: var(--color-button-addgame);
  border: 2px solid var(--color-border-button-addgame);
  border-radius: 50px;
  right: clamp(10px, 5vw, 50px);
  bottom: 100px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}
.addGameBtn :hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  .cardsPageWrapper {
    width: 700px;
  }
  .cardsPageTitle {
    flex-direction: column;
  }
  .filtrationSection {
    padding: 15px 15px;
  }
  .resetFiltrationSection {
    width: 1.2rem;
  }
  .cards {
    justify-content: space-between;
    column-gap: 3.25rem;
  }
}
@media screen and (max-width: 800px) {
  .cardsPageWrapper {
    width: clamp(300px, 80vw, 800px);
  }
  .cardsPageTitle {
    font-size: 1.6rem;
  }
  .cardsPageTitle h1 {
    font-size: 3rem;
  }
  .filtration {
    margin: 0 auto;
  }
  .filtrationSections {
    flex-direction: column;
  }
  .filtrationSection {
    width: 90%;
    padding: 13px 5% 27px 5%;
  }
  .filtrationSection:not(:first-child):not(:last-child) {
    border-inline: none;
    border-block: 1px solid var(--color-border-filtration);
  }
  .filtrationSectionName {
    width: 90%;
  }
  .cards {
    margin: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .cardsPageWrapper {
    width: 80vw;
  }
  .filtration {
    width: 80vw;
    padding: 5px 0;
  }
  .resetFiltrationSection {
    width: 1.1rem;
  }
  .cards {
    margin: 0;
  }
}

/*# sourceMappingURL=CardsPage.module.css.map */
