.formContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 380px;
  background-color: var(--color-background-light);
  padding: 40px 50px;
  border-radius: 5px;
  color: var(--color-text-primary);
  margin: 0 auto;
  margin-block: 100px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pageTitle {
  font-size: 4rem;
  color: var(--color-text-primary);
}

.input {
  width: calc(100% - 30px);
  padding: 10px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: var(--color-text-inverted);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: black;
  }
}

.submitBtn {
  width: 100%;
  background-color: #0070bb;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding-block: 6px;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #00000000;
  transition: 0.3s ease;

  &:hover {
    color: #005a8d;
    background-color: #00000000;
    border: 3px solid #0070bb;
  }
}

.link {
  color: var(--color-text-primary);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.or {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: var(--color-text-primary);
}

.line {
  width: 40%;
  height: 1px;
  background-color: var(--color-line);
}

.socialBtns {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}
